.drinks-wrapper {
  width: 100%;
  header {
    color: #282c3f;
    padding: 30px;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 22px;
    letter-spacing: 2px;
  }
  .card-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    .card-section {
      width: 8%;
      margin: 2%;
      box-shadow: 0 2px 8px 0 grey;
      border-radius: 8px;
      padding: 16px 20px;
      cursor: pointer;
      text-decoration: none;
      color: #000000;
    }
  }
}
