.modal-wrapper {
  position: fixed;
  inset: 0px;
  display: flex;
  z-index: 30;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.45);
  transition: all 3ms ease-in 0s;
  section {
    position: relative;
    background-color: rgb(255, 255, 255);
    margin: 0%;
    width: 100%;
    height: 100%;
    .close {
      position: absolute;
      bottom: 10%;
      left: 85%;
    }
  }
}
